ul,
.cards {
    list-style-type: none;
}

.testimonial:not(:first-child){
    display: none;
}

.navbar {
  background-color: #333;
  overflow: hidden;
  position:fixed;
  width:100%;
  top:0;
}

.navbar a {
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

.logo{
  width: 50px;
}

.hero-text{
  margin-top: 60px;
}

