// Colors

$primary-color: #1d1d1d;
$secondary-color: white;

// Breaking Points

$bp-small: 480px;
$bp-medium: 768px;
$bp-large: 1024px;
$bp-xlarge: 1280px;
$bp-full: 1600px;

// Fonts

$font-family-text: source-sans-pro, "Helvetica Neue", Helvetica, Arial, sans-serif

