.hero-section {
    background: url("../img/hero.jpg") no-repeat center center;
    width: 100%;
    height: 400px;
    background-size: cover;
    margin-top: 60px;
    position: relative;

    .hero-text{
        text-align: center;
        color: $secondary-color;
        padding-top: 20px;
        text-shadow: 1px 1px #8f8789;
    }
}
